#calculator{
    height: 600px;
    width: 400px;
    background-color: gray;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#display{
    height: 150px;
    width: 350px;
    margin-top: 20px;
    background-color:yellowgreen;
    
}

#placeOFButtons{
    width:380px;
    height:400px;
    background-color:red;
}

#numberButtons{
    width: 90%;
    height: 80%;
    background-color:yellow;
    display:grid;
    grid-template-rows: 25% 25% 25% 25% ;
    grid-template-columns: 114px 114px 114px;
  
}

.nB{
background-color:blue;

}